@{
    ViewData["Title"] = "At King of Kings";
}

<head>
    <link rel="stylesheet" href="~/css/AtKingOfKings/AtKingOfKings.css" />
</head>

<div class="text-center">
    <h2 class="display-3">Holy Communion</h2>
    
    <hr/>
    
    <p>
        As a congregation of Lutheran Church-Canada we believe, teach and confess that when we come
        to this altar, Christ’s true body and blood are present in, with and under the bread and wine
        by the mystery and power of His Word. This sacrament gives forgiveness of sins, life and salvation.
        So that no one eats or drinks judgment on themselves, we carefully instruct people in our
        confirmation classes before inviting them to communion. Because those who eat and drink our Lord’s
        body and blood unworthily do so to their great harm (1 Cor. 11:27) and because Holy Communion is a
        public confession of the faith which is confessed at this altar, any who are not yet instructed,
        in doubt, or who hold a confession differing from that of King of Kings, Lutheran Church Canada or
        LCMS are asked not to take Holy Communion <b>until a meeting with our pastor has been arranged</b>. To
        receive a blessing from the pastor we ask that you  place your hand over your heart. If you would
        like more information about our confirmation classes, please speak to Pastor Jan. All members are
        asked to read pages 329-330 in the Lutheran Service Book (LSB). *If you are visiting with us for
        the first time at King of Kings, please speak to Pastor Jan before service (or refrain from taking
        Holy Communion until you have spoken with Pastor Jan)
    </p>

</div>