@{
    ViewData["Title"] = "At King of Kings";
}

<head>
    <link rel="stylesheet" href="~/css/AtKingOfKings/AtKingOfKings.css" />
</head>

<div class="text-center">
    <h2 class="display-3">What We Believe</h2>

    <hr/>

    <p>
        The congregation of King of Kings follows a confessional standard that accepts without reservation:
        The Scriptures of the Old and New Testament as the verbally inspired Word of God and the only rule
        and norm of faith and practice; All the Symbolical Books of the Evangelical Lutheran Church, as a
        true and unadulterated statement and exposition of the Word of God, to wit: the three Ecumenical
        Creeds (the Apostles’ Creed, the Nicene Creed, the Athanasian Creed, the Unaltered Augsburg Confession,
        the Apology of the Augsburg Confession, the Smalcald Articles, The Large Catechism of Luther, the
        Small Catechism of Luther and the Formula of Concord.
    </p>
    <p>
        King of Kings Lutheran is a member of Lutheran Church Canada Synod (LCC synod)
    </p>
    <p>
        The Bible is the inspired Word of God.
    </p>
    <p>
        There is only one true God. He has revealed himself as Father, Son and Holy Spirit.
    </p>
    <p>
        God, the creator of everything that exists (by the power of His Word), originally created people pure
        and holy.
    </p>
    <p>
        Adam and Eve, the man and woman God created in the beginning, went against Gods will and brought sin
        into the world. Since that time, all people have been conceived and born in sin.
    </p>
    <p>
        Sin is living out of relationship with God, not living according to His will, and transgressing His
        holy will in thought, word and deed.
    </p>
    <p>
        People cannot save themselves through good works or restore themselves to a right relationship with God.
    </p>
    <p>
        God sent His son Jesus, into the world. He is both true God and true man.
    </p>
    <p>
        He lived to fulfill Gods law for us, died on the cross to pay the penalty our sins deserved, and rose
        from the dead so that we might have eternal life.
    </p>
    <p>
        He ascended into heaven, where He now sits at the right hand of the Father to intercede for us.
    </p>
    <p>
        Because of Jesus death on the cross, God declares a person just-or righteous-and forgiven. This happens
        not because of human effort, but because the justification won by Jesus is applied to the one who believes
        in Jesus as Saviour.
    </p>
    <p>
        Faith in Jesus is a gift of God, given by the Holy Spirit.
    </p>
    <p>
        The means of grace are the Word, Holy Baptism, Holy Communion and Absolution. By these means, God applies
        the merits of Jesus atoning death to all who believe in Jesus as their Saviour.
    </p>
    <p>
        Jesus will come again to take all believers to Himself. On the final day, the final judgment will take
        place. Unbelievers will go into eternal damnation and believers into eternal life.
    </p>
    <p>
        The true Christian church is made up of all believers of all times who believe in the Triune God and in
        Jesus as their only Saviour.
    </p>
    <p>
        Christians are called to live and proclaim that salvation and eternal life is by faith in Jesus Christ,
        to show their faith by joyfully and faithfully living out the gifts God has given them in their various
        vocations and show  love towards others.
    </p>
</div>