@{
    ViewData["Title"] = "At King of Kings";
}

<head>
    <link rel="stylesheet" href="~/css/AtKingOfKings/AtKingOfKings.css" />
</head>

<div class="text-center">
    <h2 class="display-3">Worship Service</h2>

    <hr/>

    <p>
        All Worship services are held at Memories Funeral Home (13403 St. Albert Trail NW, Edmonton)
        <br />
        Divine Worship: Sunday Mornings at 10:30am
    </p>
    <p>
        Sunday Bible Study: Sundays at 9: 00am
    </p>
    <p>
        Tuesday December 24, 2019 The Nativity of our Lord, Christmas Eve Candlelight
        <br />
        Service 7:00pm
    </p>
    <p>
        Wednesday December 25, 2019 The Nativity of our Lord, Christmas Day,
        <br />
        Divine Service with Holy Communion 10:30am
    </p>
    <p>
        The Sacrament of Holy Communion is celebrated each week (please see HOLY COMMUNION AT KING OF
        KINGS for our practice of Holy Communion)
    </p>
    <p>
        King of Kings is a member of Lutheran Church Canada Synod (LCC synod)
    </p>
</div>