@{
    ViewData["Title"] = "Resources";
}

<head>
    <link rel="stylesheet" href="~/css/Resources/Resources.css" />
</head>

<div class="text-center">
    <h2 class="display-3">Devotional Thought</h2>

    <p>
        In what can at times be drudgery in this life, I find this thought, from the book "Tattoos on the Heart" by
        Gregory Boyle insightful and comforting.
    </p>

    <p>
        "People want me to tell them success stories. I understand this. They are the stories you want to tell, after
        all. So why does my scalp tighten whenever I am asked this? Surely, part of it comes from being utterly
        convinced I'm a fraud. I find Bill Cain's reflection on the Shroud of Turin very consoling. He says, "If the
        shroud is a fraud then it is this masterful work of art. If it's the real thing, it's just dirty laundry."
    </p>

    <p>
        Twenty years of this work has taught me that God has greater comfort with inverting categories than I do. Are
        you, in the end, successful? Naturally, I find myself heartened by Mother Teresa's take: "We are not called to
        be successful, but faithful." This distinction is helpful for me as I barricade myself against the daily dread
        of setback. You need protection from the ebb and flow of three steps forward, five steps backward. You trip
        over disappointment and recalcitrance every day, and it all becomes a muddle. God intends it to be, I think.
        Salivating for success keeps you from being faithful, keeps you from truly seeing whoever's sitting in front of
        you. Embracing a strategy and an approach you can believe in is sometimes the best you can do on any given day.
        If you surrender your need for results and outcomes, success becomes God's business. I find it hard enough to
        just be faithful."
    </p>

    <p>
        Let the Word of God do it's work.
    </p>

</div>