@{
    ViewData["Title"] = "Resources";
}

<head>
    <link rel="stylesheet" href="~/css/Resources/Resources.css" />
</head>

<div class="text-center">
    <h2 class="display-3">Grief Support/Companioning the Bereaved</h2>

    <p>
        Pastor Jan offers pastoral care for those who are bereaved over the death of a loved one. Pastor Jan models his
        companioning the bereaved based on the philosophy of Dr. Alan Wolfelt which is described as:
    </p>

    <ol>
        <li>Being present to another person's pain; it is not about taking away the pain.</li>
        <li>
            Going to the wilderness of the soul with another human being; it is not about thinking you are
            responsible for finding the way out.
        </li>
        <li>Honoring the spirit; it is not about focusing on the intellect.</li>
        <li>Listening with the heart; it is not about analyzing with the head.</li>
        <li>Bearing witness to the struggles of others; it is not about judging or directing these struggles.</li>
        <li>Walking alongside; it is not about leading.</li>
        <li>Discovering the gifts of sacred silence; it is not about filling up every moment with words.</li>
        <li>Being still; it is not about frantic movement forward.</li>
        <li>Respecting disorder and confusion; it is not about imposing order and logic.</li>
        <li>Learning from others; it is not about teaching them.</li>
        <li>Compassionate curiosity; it is not about expertise.</li>
    </ol>

    <p>
        Pastor Jan offers personal grief care as well as leading grief support groups.
    </p>

    <p>
        The next grief support group sessions begin on Wednesday October 9 and will meet each week for nine weeks.
        There are two session times to choose from
    </p>
    <ol class="upper-alpha">
        <li>9:30am - 11:30am</li>
        <li>7:00pm -  9:00pm</li>
    </ol>

    <p>
        *choose and commit to one time slot
    </p>
</div>
