@{
    ViewData["Title"] = "Resources";
}

<head>
    <link rel="stylesheet" href="~/css/Resources/Resources.css" />
</head>

<div class="text-center">
    <h2 class="display-3">Links</h2>
    <div class="flex-container">
        <ul>
            <li><a href="http://www.lccabc.ca/">A-BC district web page</a></li>
            <li><a href="http://www.lutheranchurch-canada.ca/home.php">Lutheran Church Canada web page</a></li>
            <li><a href="http://lcccentral.ca//">Central District web page</a></li>
            <li><a href="http://lcceast.ca/">East District web page</a></li>
            <li><a href="https://www.lcms.org/">LCMS web page</a></li>
            <li><a href="https://www.lca.org.au/">LCA web page</a></li>
            <li><a href="https://www.cph.org/">Concordia Publishing House web page</a></li>

        </ul>
    </div>
</div>
