@{
    ViewData["Title"] = "At King of Kings";
}

    <div class="text-center">
        <h2 class="display-3">News</h2>
        
        <hr />
        
        <div>
            <h3 class="display-4">News from Concordia School of Music</h3>
            <p>
                Asian accents flavour this season of reflection and joy as the Concordia Concert Choir and conductor
                Joy Berg prepare for a spring tour to China. Canadian and Chinese repertoire are bookended with
                carol-singing as you enter and hot cider as you depart! “May I Be Still” Sun., Dec. 1, at 3 pm, Trinity
                Lutheran Church, 10014-81 Ave. Tickets $20/$15 from Tix on the Square, Concordia Bookstore, or at door.
                Family $40 (at door only).
            </p>

            <p>
                The glorious sounds of handbells and voices fill First Presbyterian Church as Concordia’s community
                ensembles (dir. Joy Berg & Debbie Rice) collaborate in their annual Christmas celebration, in carols
                and new pieces with a Scandinavian touch. “Hodie” Sat., Dec. 7 at 6 pm, First Presbyterian Church,
                10025-105 Street.Tickets $20/$15 from Tix on the Square, Concordia Bookstore, or at door. Family $40
                (at door only).
            </p>

            <p>
                The Concordia Symphony Orchestra presents “Set Free” Dec. 8, as soprano Aidan Ferguson interprets
                Isolde’s transfiguration in Wagner’s Prelude and the dramatic <i>Liebestod</i>.The program also includes
                Schumann’s masterful Symphony No. 1 and the gypsy themes of Rachmaninov’s Caprice Bohémien. A colourful
                and dramatic afternoon! 3 pm at Concordia’s Tegler Student Centre, 7128 Ada Blvd., Edmonton. Tickets
                $20/$15 from Tix on the Square, Concordia Bookstore, or at door. Family $40 (at door only).
            </p>
        </div>
               
        <div>
            <h3 class="display-4">Grief Support Group</h3>
            <p>
                Begins Wednesday October 9 for NINE WEEKS (weekly). For more information contact Pastor Jan at
                revrev@telus.net or check the GRIEF SUPPORT page under resources.
            </p>
        </div>
    </div>