@{
    ViewData["Title"] = "At King of Kings";
}

<div class="text-center">
    <h2 class="display-3">Porch Light Group</h2>

    <hr/>
    <div>
        <h3 class="display-4">The Porch Light Is On</h3>

        <p>
            Porches and porch lights seem to be a forgotten element or one never experienced. But if you are blessed in the
            porch area, you know how quickly it becomes a way of life to sit with friends and family or even alone and
            contemplate the world. To leave the porch light on refers to a concept of comfort, warmth, invitation and
            waiting for loved ones. It allows for a place to gather with peace and calm. To know someone is waiting for you
            and hoping you arrive safely is knowing you are loved and cared for, and amidst all the danger and strife in
            the world, isn't that comforting? To know we're worthy and loved enough to have someone leave the porch light
            on for us warms the porch and blesses our hearts.
        </p>
        <p>
            To that end, we are looking to gather a group of young adults to foster that feeling. We didn't want to name
            the group something like YOUNG ADULTS or some type of name that boxes us in or tries to define something we are
            not. We want people know they can gather and we can share, visit, laugh, and cry if need be. We are inviting
            those who are past their early teens and over 18, but not too far beyond 30. They may be all over the map in
            terms of relationships, vocations, ideas, and we just want to connect again. Listen and visit.
        </p>
    </div>

    <div class="bitMoreMargin">
        <h3 class="display-4">Upcoming Events</h3>

        <p>
            No upcoming events have been planned.
        </p>
    </div>


</div>