@{
    ViewData["Title"] = "Home Page";
}

    <head>
        <link rel="stylesheet" href="~/css/Home/Index.css" />
    </head>

    <div class="text-center">
        <h1 class="display-3">Welcome to King of Kings</h1>
        <p>Divine service is held every Sunday at 10:30am at Memories Funeral Home. Please come join us.</p>
        <a href="https://www.google.ca/maps/place/Memories+Funeral+Home/&#64;53.5956839,-113.572355,17z/data=!3m1!4b1!4m5!3m4!1s0x53a0240559d24f03:0xf969800c7ea8852e!8m2!3d53.5956807!4d-113.5701663">
            Map
        </a>
    </div>
